body{
    font-family: 'Helvetica', sans-serif;
    background: rgb(180, 196, 219);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.weather-container{
    background: grey;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}